@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2 panel panel-default">

            <h2><p align="center">FOCIMIRS</p></h2><br>
                <div class="row">

                    <div class="col-md-4 col-md-offset-5">
                        <h4> @ViewBag.Men.</h4>
                    </div>
                </div>
            <div class="row">

                <div class="col-md-4 col-md-offset-5">
                    <p align="center"><a href="Home/Index"><button class="btn btn-success btn-lg btn-block">&nbsp;OK</button></a></p>
                </div>
            </div>
    </div><!-- //main content -->
</div><!-- //row -->
    </div>