
@{
    Layout = "~/Views/Shared/_LayoutHead.cshtml";
}

    <div class="container">
        <h2>Custionario</h2>
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>¿Cuál es el número total de habitantes y hogares del municipio/DM ?</td>
                    <td>Habitantes: 50 <br /> Hogares : 50</td>
                </tr>
                <tr>
                    <td>¿Recolecta residuos peligrosos?</td>
                    <td>SI</td>
                </tr>
            </tbody>
        </table>
    </div>
<script type="text/javascript">
    javascript:window.print();
</script>