/*director*/
.directorRenderBox{
	height: 250px;
	border-left-style:solid;
	border-left-width: 3px;
}
.directorRender span.glyphicon{
	font-size: 44px;
	position: absolute;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	top: 100px;
	left: 21.8%;
}
.directorRender .directorRender-titulo{
	font-family: 'Lato-Italic';
	font-size: 29px;
	margin-bottom: 15px;
	font-style: italic;
}
.directorRenderBox span{
	position: absolute;
	bottom: 0;
	right: 30px;
	font-style: italic;
	font-size: 18px;
}
@media (max-width: 1199px) {
	.directorRender span.glyphicon{
		left: 21.5%;
	}
}